<html>
  <head>
    <title>Zombify your URL!</title>
    <!--link rel='stylesheet' type='text/css' href='/Users/noahhall/Documents/zombie/zombify/resources/brain.css' /-->
  </head>
  <body>
    <h1>Zombify your URL!</h1>
    <form action='/result' method='post'>
      <div><input type='text' style='float:left;' name='target' value='Feed me links!' onfocus='if(this.defaultValue == this.value) this.value=""'></input></div>
      <div><input type='submit' value='Zombify!' style='float:left;'></div>
    </form>
  </body>
</html>
