{% extends "shorten/base.html" %}  
  {% block page_title %}
    <div class="well">
      <h1>Hey, that URL looks pretty long.</h1>
      <h2>Maybe I could shorten it for you?</h2> 
  {% endblock %}

  {% block body %}
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <br>
        <form class='form-inline' action='/result' method='post'>
          {% csrf_token %}
          <div class='input-group'>
            <input type='text' class='form-control' name='destination_url' value='URL goes here' onfocus='if(this.defaultValue == this.value) this.value=""'>
            <span class="input-group-btn">
              <button class='btn btn-inverse'>Shorten!</button>
            </span>
          </div>
        </form>
      </div>
    </div>
    </div>
  {% endblock %}
