<html>
  <head>
    <title>Shorten your URL!</title>
    <link rel='stylesheet' type='text/css' href='http://www.shortener.dotcloud.com/static/short.css'>
  </head>
  <body>
    <h1>Shorten your URL!</h1>        
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <div style="margin-right:auto; margin-left:auto;">
    <form action='/result' method='post'>
      {% csrf_token %}
      <div><input type='text' style='float:left;' name='destination_url' value='URL goes here' onfocus='if(this.defaultValue == this.value) this.value=""'></input></div>
      <div><input type='submit' value='Shorten!' style='float:left;'></div>
    </form>
    </div>
  </body>
</html>
