body {
  padding-top: 150px;
}

h1 {
  margin-top:20px;
}

h1, h2, a, span {
  font-family:"Helvetica Neue", "Helvetica", Arial, sans-serif;
}

#homelink {
  position: absolute;
  right: 50px;
  top: 10px;
}

.btn.inverse {
  background-color: black;
  color: white;
}

.btn.inverse:hover {
  background-color: #444444;
}
