body {
  padding-top: 150px;
  background-image: url('/static/whoa-space.jpg');
  background-size: stretch;
}

#homelink {
  position: absolute;
  right: 50px;
  top: 10px;
}

.btn.btn-inverse {
  background-color: #B5B5C4;
  color: #742A38;
}

.btn.btn-inverse:hover {
  background-color: #12101A;
  color: #9B576D;
}

.btn.inverse:hover {
  background-color: #444444;
}

h1, h2, a, span, p {
  color: #742A38;
}

.well, .results{
  background-color: rgba(181, 181, 196, 0.7);
}

.alert.alert-warning p {
  color: #742A38;
}
